
<div class="d-flex flex-column flex-shrink-0 text-white bg-head sidebar" style="width: 240px;">
  <a [routerLink]="'/reports/dashboard'" class="logo-d">      
    
    <img src="assets/img/logo-mac.png" alt="MAC Logo" class="logo p-1">
  </a>
  
  <div class="dropdown">
    <P class="datos">Usuario: <br />{{ userName }}</P>
    <p class="datos">Cargo: <br />{{ cargo }}</p>
  </div>
  <hr>
  <nav class="my-1"> 
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a [routerLink]="'/reports/dashboard'" routerLinkActive="active" class="nav-link text-white" aria-current="page">
          <i class="fas fa-home bi"></i>
          DASHBOARD
        </a>
      </li>
      
      <li class="nav-item ">
        <a [routerLink]="'/reports/attention'" routerLinkActive="active" class="nav-link text-white" aria-current="page">        
          <i class="fa fa-person bi"></i>
          REPORTE POR ATENCIÓN
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="'/reports/status'" routerLinkActive="active" class="nav-link text-white" aria-current="page">        
          <i class="fa fa-person bi"></i>
          REPORTE POR ESTADO
        </a>
      </li>
    </ul>
  </nav>

  <hr>
 
</div>